<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACC_ID</key>
	<string>14695</string>
	<key>SECRET_KEY</key>
	<string>b65dd8bce0087d839142d50f2a8f753c</string>
	<key>ALGORITHM</key>
	<string>0</string>
	<key>MODE</key>
	<string>TEST</string>
	<key>NSLog_Enable</key>
	<string>1</string>
	<key>CANCEL_VIEWCONTROLLER</key>
	<string>STCartViewController</string>
	<key>THANKYOUVIEWCONTROLLER</key>
	<string>STOrderConfirmationViewController</string>
	<key>TRANSACTION_MESSAGE</key>
	<string>Transaction has been cancelled</string>
	<key>SHOW_REFERENCE</key>
	<string>1</string>
	<key>BUTTON_BG_COLOR</key>
	<dict>
		<key>Red</key>
		<string>106.0</string>
		<key>Green</key>
		<string>49.0</string>
		<key>Blue</key>
		<string>32.0</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>HEADING_BG_COLOR</key>
	<dict>
		<key>Red</key>
		<string>106.0</string>
		<key>Green</key>
		<string>49.0</string>
		<key>Blue</key>
		<string>32.0</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>PAGE_ID</key>
	<string></string>
	<key>HEADING_FONT_COLOR</key>
	<dict>
		<key>Red</key>
		<string>255.0</string>
		<key>Green</key>
		<string>255.0</string>
		<key>Blue</key>
		<string>255.0</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
</dict>
</plist>
